<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gaokuo002/src/StudentManagementSystem/com/cn/student/view/StudentMangerSystemView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="StudentManagementSystem.com.cn.student.view.StudentMangerSystemView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gaokuo002"/>
</launchConfiguration>
